body {
    /* more on this crazy alphanumerical value in a minute! */
    color: white;
    font-family: Helvetica, sans-serif;
    background-color: #DCE0EB;
  }
  
  header {
    padding: 20px 35px;
    background-color: #7AA7D2;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    display: inline;
  }

  header a {
    text-decoration: none;
    color: white;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
  }

  section {
    padding: 60px;
  }

  footer {
    background-color: #7AA7D2;
  }