* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #F3F4F3;
}
  
header {
  padding: 20px;
  background-color: #7AA7D2;
}
  
header h1 {
  font-size: 36px;
  color: white;
  display: inline;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  font-weight: bold;
}
  
header nav {
  float: right;
  margin: 7px 0;
}
  
header nav ul li {
  display: inline;
}
  
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 20px;
}

#about {
  margin: 60px 0px 60px 0px;
}

.hello {
  color: #e07a5f;
  font-size: 25px;
  font-weight: medium;
}

.name {
  font-size: 75px;
  font-weight: bold;
}

.hero img {
  height: 600px;
  width: auto;
  background-size: contain;
  background-position: center;
  position: relative;
}

#work {
  background-color: #DCE0EB;
}

footer {
  background-color: #7AA7D2;
  padding-top: 10px;
  padding-bottom: 5px;
}

footer h3 {
  text-align: center;
  text-decoration: none;
}





/*

.bio img {
  height: 250px;
}

section {
  padding: 60px;
  background-color: #7AA7D2;
  font-family: Helvetica, sans-serif;
  color: white;
  height: auto;
  width: 100%;
  padding: 20px;
  margin: 20px;
}

h2 {
  font-size: 45px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 15px;
}

.content {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

div {
  width: 30%;
  display: inline;
  margin: 10px;
}

.bio img {
  height: 250px;
}

.work {
  display: flex;
  flex-wrap: wrap;
}

.work img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  max-height: 200px;
  border: 3px solid white;
  transition: 1s;
}

.work img:hover {
  max-height: 250px;
  transition: 1s;
}

.work h2 {
  position: absolute;
}

.work div {
  display: flex;
  flex-wrap: wrap;
}

.work p {
  text-align: center;
  margin-top: 10px;
}

.float-right {
  float: right;
  margin-left: 25px;
}
 */