* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    background-color: #DCE0EB;
  }
  
header {
    padding: 20px;
    background-color: #7AA7D2;
  }
  
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    display: inline;
  }

header a {
    text-decoration: none;
    color: white;
  }
  
header nav {
    float: right;
    margin: 7px 0;
  }
  
header nav ul li {
    display: inline;
  }
  
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
  }

section {
    padding: 60px;
    background-color: #7AA7D2;
    font-family: Helvetica, sans-serif;
    color: white;
    height: 300px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }

h2 {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
}

.content {
  display: inline-block;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
 
.bio img {
    height: 250px;
}

.work img {
    max-height: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

/*
.sections .work {
  display: flex;
  flex-wrap: wrap;
}

.sections {
    background-color: #7AA7D2;
    font-family: Helvetica, sans-serif;
    color: white;
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
}

.form {
  border: 3px solid white;
  background-color: #7AA7D2;
  padding: 20px;
  color: white;
  float: center;
}

*/

.float-right {
    float: right;
    margin-left: 25px;
}

.form-input {
  display: block;
  padding: 7px 15px;
  font-size: 15px;
  color: white;
  width: 75%;
  margin-bottom: 10px;
}

  footer {
    background-color: #7AA7D2;
  }

  footer h2 {
    text-align: center;
    text-decoration: none;
  }